version: '3'
services:
  mc:
    build:
      context: .
      dockerfile: Dockerfile-mc
    ports:
      - "5450:5450"
    expose:
      - "5444"
      - "22"
    links:
      - db
    volumes:
       - ../../../data:/srv/vertica/db
    depends_on:
      - db
    tty: true
  db:
    build:
      context: .
    ports:
      - "5433:5433"
    expose:
      - "5444"
    volumes:
       - ../../../data:/srv/vertica/db
    tty: true
